

PORT=
NODE_ENV=

#URL normal
DATABASE_URL=
#Usar para teste
#DATABASE_URL=
JWT_SECRET="12f1bc1c549cc747b75c0ac7204f9d66a568cc071ca0a05b2e5d2dd3576e0c29"

ADMIN_USERNAME="@@system_admin!"
ADMIN_EMAIL="systemaadmin@gmail.com"
ADMIN_PASSWORD="system_admin@2025!#"

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB="db_parking_api"
POSTGRES_DB_TEST="db_parking_api_test"